* {
    text-align: center;
    font-family: arial;
    margin: 0px;
}

#container {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, 0%);
}

.linksRooms {
    color: black;
    text-decoration: none;
    font-size: 25px;
}

.linksRooms:hover {
    color: grey;
}

p {
    font-size: 18px;
}

.send_input {
    border: solid;
    border-color: grey;
    margin-bottom: 1vh;
    font-size: 16px;
    opacity: 0.97;
    border-radius: 0px;
    color: grey;
    padding: 10px 40px 10px 40px;
    box-shadow: 5px 10px 18px #888888;
}

.send_input:focus {
    border-radius: 0px;
    outline: none;
    background-color: rgb(220, 220, 220);
    box-shadow: 2px 4px 6px #888888;
}

.send_button {
    border: solid;
    -webkit-appearance: none;
    border-color: grey;
    background-color: rgb(209, 209, 209);
    margin-bottom: 1vh;
    font-size: 16px;
    opacity: 0.97;
    font-weight: normal;
    border-radius: 0px;
    padding: 10px 30px;
    color: grey;
    cursor: pointer;
    box-shadow: 2.5px 5px 9px #888888;
}

.send_button:hover {
    background-color: rgb(190, 190, 190);
}

.send_button:active {
    box-shadow: none;
}

.linksSettings {
    position: fixed;
    top: 10px;
    right: 10px;
}

.linksSettings a {
    text-decoration: none;
    color: black;
}

.linksSettings a:hover {
    text-decoration: underline;
    color: grey;
}

#list {
    height: 70vh;
    overflow-y: scroll;
    width: 100vw;
}

.messageContainer {
    text-align: center;
    background-color: #f0f2f1;
    padding: 10px 0px 10px 0px;
    margin: 2px;
    display: block;
    position: relative;
}

.user {
    color: grey;
}

i {
    position: absolute;
    right: 10px;
}

.content {
    font-size: 20px;
}

.exLink {
    color: black;
    font-size: 15px;
}

.embedded-video {
    border: none;
}

.img {
    width: 40vw;
}
.sendCodeAgain{
    color:black;
    text-decoration: none;
}
.sendCodeAgain:hover{
    text-decoration: underline;
}